flows.json
[{"id":"b2adcd86.c0ff2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f65aa89e.5d6b98","type":"ui_form","z":"b2adcd86.c0ff2","name":"","label":"","group":"fef93213.ab06d","order":0,"width":0,"height":0,"options":[{"label":"country","value":"a","type":"text","required":true,"rows":null},{"label":"year","value":"b","type":"number","required":true,"rows":null},{"label":"status","value":"c","type":"number","required":true,"rows":null},{"label":"BMI","value":"d","type":"number","required":true,"rows":null},{"label":"Adult_Mortality","value":"e","type":"number","required":true,"rows":null},{"label":"infant_deaths","value":"f","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"g","type":"number","required":true,"rows":null},{"label":"percentage_expenditure","value":"h","type":"number","required":true,"rows":null},{"label":"Hepatitis_B","value":"i","type":"number","required":true,"rows":null},{"label":"Measles ","value":"j","type":"number","required":true,"rows":null},{"label":"under-five_deaths ","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"m","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"n","type":"number","required":true,"rows":null},{"label":"GDP","value":"o","type":"number","required":true,"rows":null},{"label":"Population","value":"p","type":"number","required":true,"rows":null},{"label":" thinness _1-19_years","value":"q","type":"number","required":true,"rows":null},{"label":" thinness_5-9_years","value":"r","type":"number","required":true,"rows":null},{"label":"Income_composition_of_resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":220,"y":180,"wires":[["30343d99.10eac2"]]},{"id":"30343d99.10eac2","type":"function","z":"b2adcd86.c0ff2","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\nvar apikey=\"m8iM_FSz6Yd8ko9kS_icIItBu2x_Lr3VyhHuyqT7eJgf\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\",\"Accept\": \"application/json\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["adf20b0b.bc3d48"]]},{"id":"adf20b0b.bc3d48","type":"http request","z":"b2adcd86.c0ff2","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":590,"y":180,"wires":[["2331ff60.05ecc"]]},{"id":"2331ff60.05ecc","type":"function","z":"b2adcd86.c0ff2","name":"sendTo Endpoint","func":"var token=msg.payload.access.token;\nvar instance_id=\"3b1ba739-4578-49c6-95fb-02815ea1981b\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\n\nvar a=global.get(\"a\");\nvar b=global.get(\"b\");\nvar c=global.get(\"c\");\nvar d=global.get(\"d\");\nvar e=global.get(\"e\");\nvar f=global.get(\"f\");\nvar g=global.get(\"g\");\nvar h=global.get(\"h\");\nvar i=global.get(\"i\");\nvar j=global.get(\"j\");\nvar k=global.get(\"k\");\nvar l=global.get(\"l\");\nvar m=global.get(\"m\");\nvar n=global.get(\"n\");\nvar o=global.get(\"o\");\nvar p=global.get(\"p\");\nvar q=global.get(\"q\");\nvar r=global.get(\"r\");\nvar s=global.get(\"s\");\nvar t=global.get(\"t\");\nvar u=global.get(\"u\");\nmsg.payload={\"fields\":[\"country\",\"year\",\"BMI\",\"Status\",\"Adult_Mortality\",\"infant_deaths\",\"Alcohol\",\"percentage_expenditure\",\"Hepatitis_B\",\"Measles\",\"under-five_deaths\",\"Polio\",\"Diphtheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"thinness _1-19_years\",\"thinness_5-9_years\",\"Income_composition_of_resources\",\"Schooling\"],\"values\":[[a,b,c,d,e,f,g,h,i,g,j,k,l,m,n,o,p,q,r,s,t,u]]};\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["50d18aa6.058dd4"]]},{"id":"50d18aa6.058dd4","type":"http request","z":"b2adcd86.c0ff2","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/3b1ba739-4578-49c6-95fb-02815ea1981b/deployments/8d5475d1-e4bb-4475-b2be-447dc2539a12/online","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":280,"wires":[["b33cec52.c108c","1437e1b6.ebe9ae"]]},{"id":"b33cec52.c108c","type":"function","z":"b2adcd86.c0ff2","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["28b7bfc2.836f3","21e5a367.c7bc6c"]]},{"id":"28b7bfc2.836f3","type":"ui_text","z":"b2adcd86.c0ff2","group":"fef93213.ab06d","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":880,"y":520,"wires":[]},{"id":"1437e1b6.ebe9ae","type":"debug","z":"b2adcd86.c0ff2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":280,"wires":[]},{"id":"21e5a367.c7bc6c","type":"debug","z":"b2adcd86.c0ff2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":400,"wires":[]},{"id":"fef93213.ab06d","type":"ui_group","z":"","name":"Life-expectancy-prediction","tab":"c371343d.d3c768","order":1,"disp":true,"width":"6","collapse":true},{"id":"c371343d.d3c768","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]